body {
  margin: 0;
  padding: 0; }

.wrapper {
  overflow: hidden; }

.banner-main {
  background-color: black; }

.canvas-ui {
  background-color: black; }

.title_banner-main {
  opacity: 0.8;
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
  letter-spacing: 5px;
  text-align: center;
  color: white;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0; }
  @media (max-width: 576px) {
    .title_banner-main {
      font-size: 30px; } }

.show-proyect {
  background-color: black;
  position: relative;
  height: 150vh;
  overflow: hidden;
  border: 0px; }
  @media (max-width: 576px) {
    .show-proyect {
      height: 90vh; } }

.show-proyect_title {
  color: white;
  position: absolute;
  margin: 0;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 80px;
  top: 80%;
  letter-spacing: 8px;
  text-align: center;
  opacity: 0;
  left: 0;
  right: 0; }
  @media (max-width: 576px) {
    .show-proyect_title {
      font-size: 30px;
      letter-spacing: 1px; } }

.list-subtitle {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 15% 0 0 0;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  top: 90%;
  text-align: center;
  left: 0;
  opacity: 0;
  right: 0; }
  @media (max-width: 576px) {
    .list-subtitle {
      padding: 25% 0 0 0; } }

.item {
  color: white;
  letter-spacing: 8px;
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  margin-bottom: 60px; }
  @media (max-width: 576px) {
    .item {
      font-size: 20px;
      margin-bottom: 30px;
      letter-spacing: 1px; } }

.blogSection {
  background: black;
  padding-top: 20%; }

.blogSection__navigation {
  padding-top: 150px; }
  @media (max-width: 576px) {
    .blogSection__navigation {
      padding-top: 50px; } }

.wrapper-title {
  height: 60vh;
  background: url("../img/bgMoving.gif");
  background-position: center 55px;
  background-size: 230px;
  padding: 40px;
  background-repeat: no-repeat; }

.title {
  margin: 40px 0 0 0; }

.Eje-title {
  margin: 0;
  margin-bottom: 40px; }

.blogSection__title {
  color: red;
  font-size: 2.4rem;
  text-transform: uppercase;
  text-align: center; }
  @media (max-width: 576px) {
    .blogSection__title {
      font-size: 1.9rem;
      letter-spacing: 1px; } }

.members {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 50%; }
  @media (max-width: 576px) {
    .members {
      width: 80%; } }

.title-members {
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  text-transform: capitalize;
  text-align: center;
  color: white; }
  @media (max-width: 576px) {
    .title-members {
      font-size: 0.8rem;
      margin: 15px;
      letter-spacing: 1px; } }

.title-project {
  margin-top: 300px;
  font-size: 3.5rem;
  font-family: 'Raleway', sans-serif;
  text-transform: capitalize;
  text-align: center;
  color: white;
  text-align: center; }
  @media (max-width: 576px) {
    .title-project {
      margin-top: 150px;
      opacity: 0.7; } }

.blogSection__wrapper {
  width: 100%;
  display: block;
  max-width: 740px;
  padding: 0 20px;
  padding-bottom: 100px;
  margin: 0 auto; }
  @media (max-width: 576px) {
    .blogSection__wrapper {
      width: 95%; } }
  .blogSection__wrapper a,
  .blogSection__wrapper p {
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    letter-spacing: 1px;
    line-height: 1.75;
    color: #fff; }
    @media (max-width: 576px) {
      .blogSection__wrapper a,
      .blogSection__wrapper p {
        font-size: 16px; } }
  .blogSection__wrapper h3 {
    color: white; }
    @media (max-width: 576px) {
      .blogSection__wrapper h3 {
        font-size: 15px;
        padding: 10px; } }
  .blogSection__wrapper i {
    width: 100%;
    height: 360px;
    margin: 20px 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: block;
    box-shadow: inset 0 -100px 100px -100px #666; }
    @media (max-width: 576px) {
      .blogSection__wrapper i {
        width: 95%;
        height: 260px; } }
  .blogSection__wrapper h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 38px;
    margin: 0;
    padding-top: 80px; }

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  background-color: black; }
  body a {
    text-decoration: none;
    color: red;
    opacity: 0.7; }

/*# sourceMappingURL=styles.css.map */
