body{
    margin:0;
    padding:0;
}
.wrapper{
    overflow: hidden;
}
.banner-main{
    background-color: black;
}
.canvas-ui{
    background-color: black;
}
.title_banner-main{
    opacity: 0.8;
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    letter-spacing: 5px;
    text-align: center;
    color: white;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    @media (max-width:576px){
        font-size: 30px;
    }
}

